body { font-family: arial; color: black; background: white }
h2   { color: black; background-color: #ddeeff }
h1   { color: black; background-color: #ddeeff }
h5   { background-color: #eeeeee }
pre  { background-color: #eeeeee }
.part{ color: gray }
.FQA { background-color: blue; color: gold }
.FAQ { background-color: gold; color: blue }
.corr{ color: red }